@import "bootswatch/cerulean/variables";
@import "bootstrap";
// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "bootswatch/cerulean/bootswatch";

.table th {
	background-color: #e0e0e0;
	font-size: 1.1em;
}
.pager li > a {
	background-color: #eaeaea;
}
.pager a.action {
	color: #555;
	font-weight: bold;
}